<div class="card is-clickable" [routerLink]="'/title/' + card?.imdbID">
  <div class="card-image">
    <figure class="image is-4by3">
      <img [src]="card?.Poster" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-5">{{card?.Title}}</p>
      </div>
    </div>

    <div class="content">
      <strong>Type:</strong> {{card?.Type}}
      <br>
      <strong>Year:</strong> {{card?.Year}}
    </div>
  </div>
</div>
