<form class="filters-cont" action="submit" (ngSubmit)='submit(filters)' name="filter-form">
  <div class="search">
    <input [(ngModel)]="filters.search"
      class="input"
      type="text"
      name="search-field"
      placeholder="Search for a title"
      >
  </div>
  <div class="select">
    <select [ngModel]="filters.type"
      name='type-select'
      (ngModelChange)='setType($event,filters)'>
      <option [value]='type.value' *ngFor="let type of types">{{type?.name}}</option>
    </select>
  </div>
</form>
