<nav class="pagination is-small" [ngClass]="class" role="navigation" aria-label="pagination" *ngIf="pagination && totalPages > 1">
  <ul class="pagination-list">
    <li>
      <a class="pagination-link angle"
        (click)="previousPage()"
        [ngClass]="{'is-disabled': !previousIsAvailable(pagination.active_page)}">
        <fa-icon [icon]="faAngleLeft"></fa-icon>
      </a>
    </li>
    <li *ngIf="showFirstPage()">
      <a [ngClass]="{'is-current':firstPageActive()}"
        class="pagination-link"
        (click)='first()'
        aria-label="Goto page 1">1</a>
    </li>
    <li *ngIf="dotsBeforeActive()">
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    <li *ngFor="let page of pagesArray">
      <a class="pagination-link"
        [ngClass]="{'is-current': pageIsActive(page)}"
        [attr.aria-label]="'Goto page' + page"
        (click)='activatePage(page)'>
        {{page}}
      </a>
    </li>
    <li *ngIf="dotsAfterActive()">
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    <li>
      <a
        [ngClass]="{'is-current': lastPageActive()}"
        (click)='last()'
        class="pagination-link"
        [attr.aria-label]="'Goto page' + totalPages">{{totalPages}}</a>
    </li>
    <li>
      <a class="pagination-link angle"
        [ngClass]="{'is-disabled': !nextIsAvailable(pagination.active_page)}"
        (click)="nextPage()">
        <fa-icon [icon]="faAngleRight"></fa-icon>
      </a>
    </li>
  </ul>
</nav>
