// Light theme vars
$bg-light: white;
$bg-surface-light: whitesmoke;
$on-bg-light: #363636;
$primary-light: #1976d2;
$secondary-light: #1976d2;
$on-bg-light: #363636;
$on-surface-light: #363636;
$on-primary-light: white;
$on-secondary-light: white;

// Dark theme vars
$bg-dark: #121212;
$bg-surface-dark: #1e1e1e;
$bg-surface-lighter-dark: #3e3e3e;
$primary-dark: #bb86fc;
$secondary-dark: #03dac6;
$on-bg-dark: white;
$on-surface-dark: white;
$on-primary-dark: $bg-dark;
$on-secondary-dark: $bg-dark;
$low-contrast-grey: #a3a2a2;

