<ng-container *ngIf="data$ | async as data">
  <ng-container *ngIf="data?.filters as filters">
      <mdb-filters [filters]='filters' (filtersChange)='setFilters($event)'></mdb-filters>
    </ng-container>
  <ng-container *ngIf="!data?.error; else error">

    <div class='is-grid title-container'>
      <div class="column" *ngFor="let title of data.titles" >
        <mdb-title-card [card]='title'></mdb-title-card>
      </div>
    </div>

    <div class="columns mt-2" *ngIf="data?.pagination as pagination">
      <div class="column">
        <lib-pagination
          [pagination]='pagination'
          (pageChange)='setPage(data.filters, $event)'>
        </lib-pagination>
      </div>
    </div>
  </ng-container>

  <ng-template #error>
    <article class="message is-danger">
      <div class="message-body">
        {{data?.error}}
      </div>
    </article>
  </ng-template>

</ng-container>
