.title-container {
  grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: 1000px) {
  .title-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 750px) {
  .title-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 450px) {
  .title-container {
    grid-template-columns: 1fr;
  }
}
