.navbar {
  border-bottom: 1px solid lightgrey;
  &-item {
    img {
      width: auto;
      margin-left: 1rem;
    }
  }

  &-end {
    align-items: center;

    a {
      margin-right: 1rem;
    }
  }
}
