<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink='/'>
      <img src="assets/imdb.png" width="112" height="28">
    </a>
  </div>
  <div class="navbar-end">
    <a class="navbar-item button is-white flex has-text-weight-bold" (click)="toggleTheme()">
      <fa-icon [icon]='theme === "light" ? icons.faSun : icons.faMoon' class="mr-1"></fa-icon>
      {{theme === "light" ? 'Light theme' : 'Dark theme'}}
    </a>
  </div>
</nav>
