@import '../abstracts/variables';

html[data-theme='dark'] {
  background-color: $bg-dark;
  color: $on-bg-dark;

  .navbar, .card, .select select, .textarea, .input {
    background-color: $bg-surface-dark;
    color: $on-surface-dark;
    border-color: $bg-surface-dark;


  }

  ::placeholder {
    color: $low-contrast-grey;
  }

  .button.is-white {
    background-color: $bg-surface-dark;
    border-color: transparent;
    color: $on-surface-dark;

    &:hover {
      background-color: #363636;
    }
  }

  .title, .subtitle {
    color: $on-surface-dark;
  }

  .card {

    strong {
      color: $low-contrast-grey;
    }

    img {
      background: $bg-surface-lighter-dark;
      object-fit: contain;
    }
  }

  .select:not(.is-multiple):not(.is-loading)::after {
    border-color: $primary-dark;
  }

  .pagination {
    color: $low-contrast-grey;

    .pagination-link {
      color: $low-contrast-grey;

      &.is-current {
        background-color: $primary-dark;
        border-color: $primary-dark;
        color: $on-primary-dark;
    }
    }
  }

  .breadcrumb li {
    color: $on-surface-dark;
  }

  .breadcrumb a, a {
    color: $primary-dark;
  }
}
