@import '../abstracts/variables';

html[data-theme='light'] {
  background-color: $bg-light;
  color: $on-bg-light;


  .card {

    img {
      background: whitesmoke;
      object-fit: contain;
    }
  }

  .pagination {
    a {
      color: $on-surface-light;
    }
    .pagination-link {

      &.is-current {
        background-color: $primary-light;
        border-color: $primary-light;
        color: $on-primary-light;
    }
    }
  }

  .breadcrumb a, a {
    color: $primary-light;
  }

}
