<div class="container" *ngIf="data$ | async as data">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a routerLink='/'>All titles</a></li>
      <li class="is-active">&nbsp;{{data?.title?.Title}}</li>
    </ul>
  </nav>
  <ng-container *ngIf="!data?.error; else error">
    <div class="card is-grid" *ngIf="data?.title as title">
      <div class="card-image">
        <figure class="image is-4by3">
          <img [src]="title?.Poster" alt="Poster image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{title?.Title}}</p>
            <p class="subtitle is-6">{{title?.Year}}</p>
          </div>
        </div>

        <div class="content">
          <div class="mb-3">
            {{title?.Plot}}
          </div>

          <br>
          <strong>Director:</strong> {{title?.Director}}
          <br>
          <strong>Writer:</strong> {{title?.Writer}}
          <br>
          <strong>Actors:</strong> {{title?.Actors}}
          <br>
          <strong>Genre:</strong> {{title?.Genre}}
          <br>
          <strong>Type:</strong> {{title?.Type}}
          <br>
          <strong>Box Office:</strong> {{title?.BoxOffice}}
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #error>
    <article class="message is-danger">
      <div class="message-body">
        {{data?.error}}
      </div>
    </article>
  </ng-template>
</div>
